<p-card>
    <div class="p-grid p-jc-md-center p-ai-center p-mt-5">
        <h1>ADD PAYMENT</h1>
    </div>

    <div class="p-fluid p-formgrid p-grid p-jc-md-center">
        <div class="p-field p-lg-5 p-sm-12">
            <label for="payCode">Payment Code</label>
            <input id="payCode" type="text" pInputText>
        </div>
        <div class="p-field p-lg-5 p-sm-12">
            <label for="payName">Payment Name</label>
            <input id="payName" type="text" pInputText>
        </div>

    </div>


    <div class="p-fluid p-formgrid p-grid p-jc-md-center">

        <div class="p-field p-col-8 p-mt-4">
            <button pButton label="Submit Payment" icon="pi pi-plus" class="p-button-primary p-button-sm"></button>
        </div>
    </div>


</p-card>