<div class="header-login">
    <h1>LOGIN PAGE</h1>
    <img src="../../../assets/logo.png" alt="">
</div>

<div class="p-d-flex p-jc-center">
    <div class="p-fluid p-col-3">
        <div class="p-field">
            <span class="p-float-label">
                <input id="float-input" type="text" pInputText [(ngModel)]="username"> 
                <label for="float-input">Username</label>
            </span>

        </div>
        <div class="p-field p-mt-4">
            <span class="p-float-label">
                <input id="float-input" type="text" pInputText [(ngModel)]="password"> 
                <label for="float-input">Password</label>
            </span>
        </div>
        <div id="margin-btn" class="p-grid p-jc-md-around">

            <div class="p-col-5">
                <button pButton label="Login" icon="pi pi-lock-open" class="p-button-success p-button-lg" (click)="login()"></button>
            </div>
        </div>


    </div>
</div>